.background {
	background-color: #5865f2;
	height: 100%;
}

.login-form {
	display: flex;
	width: 784px;
	padding: 32px;
	font-size: 18px;
	border-radius: 5px;
	background-color: hsl(220,calc(var(--saturation-factor, 1)*7.7%),22.9%);
	box-shadow: 0 2px 10px 0 hsla(0,calc(var(--saturation-factor, 1)*0%),0%,.2);
}

header {
	font-family: "ABC Ginto Normal", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 600;
	margin-bottom: 8px;
	color: white;
}

.heading {
	font-size: 25px;
}

.sub-heading {
	font-family: "Whitney", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: rgb(185, 187, 190);
}

.main {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.fields {
	width: 100%;
	text-align: left;
	margin-top: 20px;
}

.input-container {
	display: flex;
	flex-direction: column;
}

.input-container-margin {
	margin-bottom: 20px;
}

.label {
	font-family: "ABC Ginto Normal", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 500;
	font-size: 12px;
	margin-bottom: 8px;
	color: rgb(185, 187, 190);
	text-transform: uppercase;
}

.input {
	color: rgb(220, 221, 222);
	background-color: rgb(32, 34, 37);
	padding: 10px;
	height: 40px;
	border-radius: 3px;
	border: none;
}

.input:active {
	border: none;
}

.password {
	display: flex;
	flex-direction: column;
}

.forgot {
	color: rgb(0, 175, 244);
	font-size: 14px;
	font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 500;
	cursor: pointer;
	display: inline-block;
	margin-top: 6px;
	margin-bottom: 22px;
}

.login {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(88, 101, 242);
	width: 100%;
	height: 44px;
	border: none;
	border-radius: 3px;
	margin-bottom: 8px;
	padding: 2px 16px;
	cursor: pointer;
}

.login-text {
	font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 500;
	color: white;
}

.register-container {
	font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-top: 4px;
	color: rgb(163, 166, 170);
	font-size: 14px;
}

.register {
	margin-left: 4px;
	color: rgb(0, 175, 244);
	cursor: pointer;
}

.register:hover {
	
}

/*Right side*/
.right {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-left: 66px;
	width: 240px;
	height: 344px;
}

.qrcode-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 176px;
	height: 176px;
	margin-bottom: 32px;
	padding: 8px;
	background-color: white;
	border-radius: 3px;
}

.qrtext {
	font-family: "ABC Ginto Normal", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: white;
	margin-bottom: 8px;
	font-size: 25px;
	line-height: 30px;
	text-align: center;
}

.qrsubtext {
	font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	color: rgb(185, 187, 190);
	font-size: 15px;
	font-weight: 400;
}

