:root {
    --font-primary: "Whitney Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-secondary: "ABC Ginto Normal", "Helvetica Neue", Helvetica, Arial, sans-serif; 
    --input-background: rgb(32, 34, 37);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
}

.flex {
    display: flex;
} 

.align {
    align-items: center;
}

.justify {
    justify-content: center;
}

a {
    color: rgb(0, 175, 244);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

fieldset {
    border: none;
}

input:focus {
	outline: none;
}