.regsiterpage {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-secondary);
  height: 100%;
}

.register {
  border: 1px red solid;
  border-radius: 3px;
  width: 480px;
  padding: 32px;
  font-size: 18px;
  text-align: center;
  background-color: #36393f;
}

.register-header {
  color: white;
  font-size: 25px;
  line-height: 30px;
}

/* Main */
.register-main {
  text-align: left;
  width: 100%;
  margin-top: 20px;
  color: rgb(185, 187, 190);
}

.register-mb20 {
  margin-bottom: 20px;
}

.register-label {
  display: block;
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.register-input {
  height: 40px;
  padding: 10px;
  width: 100%;
  background-color: rgb(32, 34, 37);
  border: none;
  border-radius: 3px;
  color: rgb(220, 221, 222);
}